body {
	font-family: 'Gloria Hallelujah', cursive;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.my-form-div {
	width: 80%;
	text-align: center;
	max-width: 15cm;
	margin: auto;
	margin-top: 2cm;
	
	padding: 2cm;
	border-radius: 0.3cm;
}

.brand-bg-yellow {
	background-color: #fff952;
}

.brand-bg-aqua {
	background-color: #41f4e8;
}


.blog-div {
	text-align: center;
	width: 80%;
	max-width: 30cm;
	margin: auto;

}

.blog-photo {
	width: 80%;
	max-width: 40cm;
	height: auto;
}